# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Environment files
.env
*.env

# Git + Docker stuff
.git/
.gitignore
Dockerfile
.dockerignore

# IDE/editor stuff
.vscode/
.idea/
*.swp

# OS junk
.DS_Store
Thumbs.db
